:root {
  --main-color: #ff644c;
  --gray-color-l1: #f8f9fa;
  --gray-color-l2: #e9ecef;
  --gray-color-l5: #adb5bd;
  --gray-color-l7: #495057;
  --gray-color-l8: #343a40;
  --gray-color-l9: #212529;
}
